.wrapper{
    position:relative;
    margin: 0 auto;
    width:960px;
    height:540px;
    border:1px solid blue;
    overflow: hidden;
}

.left{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity:0.7;
    z-index: 2;
}

.right{
    position:absolute;
    right:0;
    top: 50%;
    transform : translateY(-50%);
    opacity:0.7;
    z-index: 2;
}

.left:hover,
.right:hover{
    opacity:1;
    cursor: pointer;
}

#pic-1, 
#pic-2,
#pic-3, 
#pic-4{
    display:none;
}
#pic-1.active,
#pic-2.active,
#pic-3.active, 
#pic-4.active{
    display:block;
}